.container {
    display: flex;
    padding: 10px;
    justify-content: center;


}

h1 {
    text-align: center;
}

.contenido {
    width: 200px;
    display: inline-block;
    padding: 15px;
    border-radius: 8px;
    margin: 10px;
}

p {
    padding: 5px;
}

@media (min-width: 300px) and (max-width: 700px) {}

@media (min-width: 700px) {}

.card:hover {
    transform: translateY(-10px);
    /* Mueve la tarjeta hacia arriba al pasar el ratón */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Sombra más intensa al pasar el ratón */
    border-radius: 8px;
    /* Bordes redondeados */
    background-color: #ffffff;
    /* Color de fondo de la tarjeta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.479);
    /* Sombra de la tarjeta */
    transition: transform 0.3s, box-shadow 0.3s;
    /* Transiciones suaves para transformaciones y sombras */
}