<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://f2.toyhou.se/file/f2-toyhou-se/images/46525336_aik3KyhKrrDFa7g.gif   " class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bust Art</h5>
              <p class="card-text">2800 ARS</p>
              <a href="#" class="btn btn-primary">Buy It!</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://f2.toyhou.se/file/f2-toyhou-se/images/56953423_qnlDJAT17Ph0KXu.png" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Haldbody</h5>
              <p class="card-text">5000 ARS</p>
              <a href="#" class="btn btn-primary">Buy It!</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://f2.toyhou.se/file/f2-toyhou-se/images/58846425_fnwjudbqEexTKlc.png" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Fullbody</h5>
              <p class="card-text">7900 ARS</p>
              <a href="#" class="btn btn-primary">Buy It!</a>
            </div>
          </div>
      </div>
    </div>
  </div>
